Flask
Werkzeug
python-dotenv
beautifulsoup4
newspaper3k
feedparser
pypdf
PyPDF2
langchain
nltk
spacy
langchain_community
langchain-google-genai
google-genai
google-generativeai
SpeechRecognition
numpy
pandas
tiktoken
lxml
unstructured
scikit-learn