<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Registeration Form</title>   
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='register.css')}}">
</head>
<body>
<div class="box">
	<span class="borderLine"></span>
	<form action="{{ url_for('register') }}" method="post" class="mainForm">
        {% if mesage is defined and mesage %}
			<div class="alert alert-warning">{{ mesage }}</div>
		{% endif %}
		<h2 class="loginLabel">Sign Up</h2>
		<div style="margin-top: 10px;" class="inputBox">
			<input type="text" class="form-control" id="name" name="name" placeholder="Enter name" name="name">
			<span>Name</span>
			<i></i>
		</div>
		<div class="inputBox">
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">
			<span>Email</span>
			<i></i>
		</div>
		<div class="inputBox">
			<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
			<span>Password</span>
			<i></i>
		</div>
		<div class="btn-div">    
		<button type="submit" class="btn btn-primary">Register</button>
		</div>
		<div class="links">
		<p class="bottom">Already have an account?</p>
		<a class="bottom" href="{{url_for('login')}}"> Login here</a>
		</div>
	</form>
</div>        
</body>
</html>